:host {
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4px;

  padding: 8px;
}

.canvas {
  flex-shrink: 0;

  border: 2px solid grey;
}

.tool-bar {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 200px;
  padding: 8px 6px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
