.app-canvas-page {
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4px;

  padding: 8px;
}

.app-tool-bar {
  flex: 1;
}

.canvas {
  flex: 4;
  flex-shrink: 0;

  border: 2px solid grey;
}
