<div class="tool-bar">
  <button class="button" (click)="switchGravity()">Gravity {{ isGravityEnabled ? 'ON' : 'OFF' }}</button>
  <button class="button" (click)="switchCollision()">Collision {{ isCollisionEnabled ? 'ON' : 'OFF' }}</button>
  <button class="button" (click)="switchBorderCollision()">Border collision {{ isBorderCollisionEnabled ? 'ON' : 'OFF' }}</button>
  <button class="button" (click)="switchAirResistance()">Air Resistance {{ isAirResistanceEnabled ? 'ON' : 'OFF' }}</button>
  <input type="number" [ngModel]="0.999" (ngModelChange)="setAirResistanceValue($event)">

  <button class="button" (click)="removeAll()">Clear</button>
</div>

<canvas
  #canvas
  class="canvas"
  [height]="canvasProperty.height"
  [width]="canvasProperty.width"
  (click)="onMouseDown($event)"
  (dblclick)="focusOnShape($event)"
></canvas>
